/* div {
    border: black 2px solid;
} */

/* General Styles */
.center-paragraph-container {
    position: relative;
}

.center-paragraph {
    text-align: center;
}

.green-results-background-color {
    background-color: #39E913;
}

.blue-results-background-color {
    background-color: #22C9FF;
}

.results-dark-border {
    border: 3px solid black;
    background-color: white;
}

.results-light-border {
    border: 1px solid black;
    background-color: white;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

p {
    font-family: Verdana, Geneva, sans-serif;
}

.col-md-0half {
    width: 2.5%;
}

/* Formula Styles */
#formula {
    border: 1px solid black;
}

.formula-sm-font {
    font-size: 14pt;
}

.formula-lg-font {
    font-size: 20pt;
}

#formula_division {
    border: black dashed 1px;
}

.division_line {
    border: 1px solid black;
    background-color: black;;
}

.formula-operands {
    width: 12.5%;
}

.formula-operator {
    width: 5%;
}


#formula_phe_text {
    height: 100%;
    position: relative;
    font-size: 20pt;
    margin-top: 20px;
    white-space: nowrap;
}
#formula_p_not_h_bottom_text {
    padding-right: 0;
}

#formula_phe_variable {
    margin-top: 20px;
}

#formula_peh_top {
    margin-bottom: 2px;
}

#formula_peh_bottom {
    margin-bottom: 2px;
}

#formula_p_not_h {
    margin-top: 2px;
}

#formula_equals_left {
    margin-left: 30px;
    margin-top: 26px;
}

#formula_equals_right {
    margin-top: 26px;
}

#formula_equals_left p{
    margin-top: 50px;
}

#box3 {
    height: 20px;
}

/* Button styles */
#buttons-container {
    border: 1px solid black;
    height: 80px;
}

.buttons-md-font {
    font-size: 12pt;
}

.buttons-lg-font {
    font-size: 20pt;
}

.buttons-equal-signs {
    margin-top: 26px;
}

#buttons_evidence_strength_variable {
    margin-top: 15px;
}

#buttons_evidence_strength_label {
    margin-top: 15px;
}

#buttons_evidence_strength_formula {
    margin-top: 13px;
    align-items: center;
    padding: 0;
}

#buttons_evidence_strength_formula p{
    margin-bottom: 0px;
}

#buttons_formula_bottom_division {
    margin-left: -8px;
    /* margin-left:  auto; */
    /* margin-right:  auto; */
}
#buttons_evidence_strength_formula_denominator {
    width: 100%;
}

#buttons_negative_results_container {
    margin-top: 20px;
}

#buttons_negative_results_positive_label_column {
    margin-top: 5px;
}

#buttons_negative_results_negative_label_column {
    margin-top: 5px;
}

#buttons_negative_results_switch_label {
    margin-left: 15px;
}

#buttons_estimator_mode_container {
    margin-top: 5px;
}

#buttons_estimator_calculator_icon_container {
    margin-top: 10px;
}

#buttons_estimator_estimator_icon_container {
    margin-top: 10px;
}

#buttons_estimator_switch_container {
    margin-top: 15px;
}

#buttons_randomize_button_container {
    margin-top: 20px;
    margin-left: 40px;
}

#buttons_randomize_column {
    border-left: 2px solid black;
}

#buttons_estimator_mode_column {
    border-left: 2px solid black;
}

#buttons_negative_results_column {
    border-left: 2px solid black;
}

/* Graph Styles */
div#bottom {
    height: 615px;
    max-width: 1200px;
    margin:auto;
}
  
  
/* Height Rulers */
#verticalRulerLeftContainer, #verticalRulerRightContainer {
    height: 450px;
    width: 15px;
    display: flex;
    flex-direction: column;
}

#verticalRulerLeftContainer {
    margin-right: 10px;
}

#verticalRulerRightContainer {
    margin-left: 10px;
}

#verticalRulerLeftTop, #verticalRulerRightTop {
width: 100%;
flex: 2;
}

#verticalRulerLeftBottom {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 50%;
}

#verticalRulerRightBottom {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 50%;
}

#verticalRulerLeftText, #verticalRulerRightText {
    position: relative;
    top: 50%;
}

#verticalRulerLeftText {
    right: 50px;
}

#verticalRulerRightText {
    left: 30px;
}

#verticalRulerLeftText p, #verticalRulerRightText p {
    position: relative;
    width: max-content;
    margin: 0;
    /* Top should be subtracted by height/2 */
    top: -10px;
}

#horizontalRulerContainer {
    width: 800px;
    align-self: flex-start;
    margin-bottom: 30px;
}

#horizontalRuler {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    max-height: 15px;
    display: flex;
}

#leftHorizontalRulerText, #rightHorizontalRulerText {
    position: relative;
    top: 25px;
}

#leftHorizontalRulerText p, #rightHorizontalRulerText p{
    text-align: center;
    color: #B22222;
}

#leftHorizontalRuler {
    flex-grow: 0;
    width: 50%;
    border-right: 1px solid black;
}
#rightHorizontalRuler {
    flex-grow: 1;
    float: right;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Button styles */
.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 