body p, div {
  font-family: Verdana, Geneva, sans-serif;
}

div#window {
  height: 775px;
  width: 1200px;
  margin: 2% auto;
}

div#barGraph{
  height: 570px;
  width: 600px;
  border: black 2px solid;
}

div#belCon {
  border: black 2px solid;
  max-width: 1200px;
  margin: auto;
  font-weight: bold;
}

div#formula{
  height: 110px;
  margin: auto;
  border: black 2px solid;
}

p#equation_values_denominator_peh, p#equation_values_denominator_ph {
  display: inline;
}

#formula_variables_denominator_ph_phe_container {
  margin-right: 5px;
}

div#bottom {
  height: 615px;
  max-width: 1200px;
  margin:auto;
}
/* Bar Graph */
#bar {
  width: 815px;
  height: 450px;
  overflow: visible;
  margin: 55px auto;
  margin-top: 30px;
  border: 0px;
}
#leftBar {
  position: relative;
  background-color: #90FF93;
  width: 405px;
  height: 100%;
  float: left;
  border-left: 5px solid black;
  border-right: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#rightBar {
  position: relative;
  background-color: #90B1FF;
  width: 405px;
  height: 100%;
  float: right;
  border-right: 5px solid black;
  border-left: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#leftInner, #rightInner {
  background-color: white;
  border: 0px;
}
#leftInner {
  height: 215px;
  /* border-left: 1px solid black; */
}
#rightInner {
  height: 215px;
  /* border-right: 1px solid black; */
}

#verticalDivisionBar {
  width: 5px;
  height: 100%;
  background-color: #B22222;
  float: right;
  cursor: col-resize;
  border: 0px;
}
#leftDivisionBar, #rightDivisionBar {
  width: 100%;
  height: 5px;
  cursor: row-resize;
  background-color: black;
}

.bar_label {
  font-size: 12pt;
}

#bar_leftLabel {
  position: absolute;
  left: -100px;
  bottom: 0;
}
#bar_rightLabel {
  position: absolute;
  right: -135px;
  bottom: 0;
}
#bar_middle_left_label, #bar_middle_right_label{
  position: absolute;
  bottom: -57px;
  color: #B22222;
  width: inherit;
}
#bar_middle_right_label > p{
  min-width: 80px;
}

#bar_middle_left_label > p{
  min-width: 40px;
}

#leftBarPercentage, #rightBarPercentage {
  text-align: center;
  font-size: 28px;
  height: 40px;
}
/* Height Rulers */
#heightRulerLeft {
  position: absolute;
  left: -30px;
  height: 100%;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  bottom: 0;
  width: 10px;
}
#heightRulerRight {
  position: absolute;
  right: -30px;
  bottom: 0;
  height: 100%;
  width: 10px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#widthRulerLeft {
  position: absolute;
  height: 10px;
  width: 100%;
  right: -3px;
  bottom: -30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#widthRulerRight {
  position: absolute;
  height: 10px;
  width: 100%;
  right: 0;
  left: -3px;
  bottom: -30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* believe/disbelieve--confirmation/disconfirmation and visual estimator tags */

#believe_confirmation_table_container {
  width: 100%; 
  height: 100%;
}

#believe_confirmation_table_container  td {
  border: 2px solid black;
}

#negative_result_mode_toggle_container p {
  display: inline-block;
  font-size: 18pt;
  font-weight: normal;
}

#negative_result_mode_toggle_switch_container {
  display: inline;
}

#negative_result_mode_toggle_container * {
  margin-left: 15px;
}

#negative_result_mode_toggle_switch_container label {
  margin-bottom: 13px;
}

#calculator_estimator_toggle_switch_container {
  display: inline;
}

#calculator_estimator_toggle_switch_container label {
  margin-bottom: 20px;
}

#calculator_estimator_toggle_container * {
  margin: 10px 0px 10px 20px;
}

#randomize_button_container {
  padding-top: 10px;
  align-items: center;
}
#randomize_button_container p{
  text-align: center;
}

#randomize_button {
  display: block;
  margin: auto;
}

.tag {
  color: #C0C0C0;
  font-size: 19pt;
}

#belCon p {
  padding-top: 10px;
}

#hTag {
  color: #FFFFFF;
  font-weight: normal;
}

#visualEstimatorPartial{
  margin-left: 80px;
}

#visualEstimatorButton {
  margin-left: 30px;
}

#visualEstimatorLabel {
  display: inline;
  font-size: 15pt;
  color: white;
}

/* Formula styles */
.formulaTop {
  border-bottom: solid black 1px;
  margin-bottom: 0px;
  /* text-align: center; */
  padding-bottom: 4px;
}

.formulaBottom {
  border-top: solid black 1px;
  margin-top: 0px;
  text-align: center;
  padding-top: 4px;
}

.entryBox {
  width: 50px;
}

.formula_pHEText {
  font-size: 20pt;
}

.formula_pHE_result {
  font-size: 20pt;
}

#formula_pHE_result_container {
  margin: auto;
}

.formula_equation_text {
  font-size: 14pt;
}

.formula_equals_text_container {
  margin: auto;
}

.formulaTop > span > p {
  display: inline;
  padding: 3px 2px;
  background-color: #90FF93;
}

#box1,#box2 {
  background-color: #90FF93;
}
#box3 {
  background-color: #90B1FF;
  margin-left: 5px;
}
input {
  border: 1px solid grey;
  font-weight: bold;
}

/* Switch button style */
.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(220,220,220);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: 0px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: 0px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  left: 20px;
}

/* Circular button style */
.btn-circle.btn-sm { 
  width: 30px; 
  height: 30px; 
  padding: 6px 0px; 
  border-radius: 15px; 
  font-size: 8px; 
  text-align: center; 
} 