body p{
  height: 100%;
}

body p, div {
  font-family: Verdana, Geneva, sans-serif;
}

div#window {
  height: 775px;
  width: 1200px;
  margin: 2% auto;
}

div#barGraph{
  height: 570px;
  width: 600px;
  border: black 2px solid;
}

div#belCon {
  border: black 2px solid;
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  font-weight: bold;
  background-color: black;
}

div#formula{
  height: 110px;
  margin: auto;
  border: black 2px solid;
}

div#bottom {
  height: 615px;
  max-width: 1200px;
  margin:auto;
}

/* Bar Graph */
#bar {
  width: 815px;
  height: 450px;
  overflow: visible;
  margin: 55px auto;
  border: 0px;
}
#leftBar {
  background-color: #90FF93;
  width: 405px;
  height: 100%;
  float: left;
  border-left: 5px solid black;
  border-right: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#rightBar {
  background-color: #90B1FF;
  width: 405px;
  height: 100%;
  float: right;
  border-right: 5px solid black;
  border-left: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#leftInner, #rightInner {
  background-color: white;
  border: 0px;
}
#leftInner {
  height: 215px;
  /* border-left: 1px solid black; */
}
#rightInner {
  height: 215px;
  /* border-right: 1px solid black; */
}
#verticalDivisionBar {
  width: 5px;
  height: 100%;
  background-color: #B22222;
  float: right;
  cursor: col-resize;
  border: 0px;
}
#leftDivisionBar, #rightDivisionBar {
  width: 100%;
  height: 5px;
  cursor: row-resize;
  background-color: black;
}
#bar_leftLabel {
  left: 110px;
}
#bar_rightLabel {
  right: 70px;
}
#bar_middleLabel {
  color: #B22222;
  position: absolute;
  bottom: 5px;
  left: 580px;
}
.bar_label {
  position: absolute;
  top: 265px;
}

#leftBarPercentage, #rightBarPercentage {
  text-align: center;
  font-size: 28px;
  height: 40px;
}

/* believe/disbelieve--confirmation/disconfirmation tags */

.tag {
  color: #C0C0C0;
  font-size: 14pt;
}

#belCon p {
  padding-top: 10px;
  margin-left: 50px;
}
#belCon div {
  margin: auto auto;
}

#hTag {
  color: #666666;
}

/* Formula styles */

.formulaTop {
  border-bottom: solid black 2px;
  margin-bottom: 0px;
  text-align: center;
}

.formulaBottom {
  border-top: solid black 2px;
  margin-top: 0px;
  text-align: center;
}

.entryBox {
  width: 50px;
}

.formula_pHEText {
  font-size: 30px;
}
.formula_pHEResult {
  font-size: 25px;
  padding-left: 0px;
}

.formula_equationText {
  font-size: 16px;
}

.formula_equalsText {
  text-align: center;
}

.formulaTop > span > p {
  display: inline;
  padding: 4px 2px;
  background-color: #90FF93;
}
#box1,#box2 {
  background-color: #90FF93;
}
#box3 {
  background-color: #90B1FF;

}
input {
  border: 1px solid grey;
  font-weight: bold;
}
