body {
  height: 100%;
}

div#window {
  height: 625px;
  width: 1200px;
  margin: auto auto;
}

div#barGraph{
  height: 465px;
  width: 600px;
  border: black 2px solid;
}

div#formula{
  height: 160px;
  margin: auto;
  border: black 2px solid;
}

div#pieChart {
  height: 355px;
  margin: auto auto;
}

div#bottom {
  height: 465px;
  max-width: 1200px;
  margin:auto;
}

/* Bar Graph */
#bar {
  width: 615px;
  height: 315px;
  overflow: visible;
  margin: 65px auto;
  border: 0px;
}
#leftBar {
  background-color: green;
  width: 305px;
  height: 100%;
  float: left;
  border-left: 5px solid black;
  border-right: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#rightBar {
  background-color: blue;
  width: 305px;
  height: 100%;
  float: right;
  border-right: 5px solid black;
  border-left: 0px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
#leftInner, #rightInner {
  background-color: white;
  border: 0px;
}
#leftInner {
  height: 150px;
  /* border-left: 1px solid black; */
}
#rightInner {
  height: 150px;
  /* border-right: 1px solid black; */
}
#verticalDivisionBar {
  width: 5px;
  height: 100%;
  background-color:red;
  float: right;
  cursor: col-resize;
  border: 0px;
}
#leftDivisionBar, #rightDivisionBar {
  width: 100%;
  height: 5px;
  cursor: row-resize;
  background-color: black;
}

#bar_leftLabel {
  left: 25px;
}
#bar_rightLabel {
  right: 5px;
}
.bar_label {
  position: absolute;
  top: 210px;
}
#bar_middleLabel {
  position: absolute;
  bottom: 40px;
  left: 380px;
}
/* believe/disbelieve--confirmation/disconfirmation tags */

.tag {
  color: #C0C0C0;
}

/* Formula styles */

.formulaTop {
  border-bottom: solid black 2px;
  margin-bottom: 0px;
  text-align: center;
}

.formulaBottom {
  border-top: solid black 2px;
  margin-top: 0px;
  text-align: center;
}

.entryBox {
  width: 50px;
}

.formula_pHEText {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.formula_pHEResult {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding-left: 0px;
}

.formula_equationText {
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
}

.formula_equalsText {
  text-align: center;
}
